<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration

    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>




	<typeAliases>
		<typeAlias alias="RoomVO" type="hotel.Room.RoomVO"/>
		<typeAlias alias="BookVO" type="hotel.Book.BookVO"/>
		<typeAlias alias="UserVO" type="hotel.User.UserVO"/>
		<typeAlias alias="BoardVO" type="hotel.Board.BoardVO"/>
		<typeAlias alias="CommentVO" type="hotel.comment.CommentVO"/>
	</typeAliases>




</configuration>

