<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/_layout.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<footer th:fragment="footer">
    <div class="footer-layout">
        <div> ⓒ  Young Company  Corp.</div>
        <div> Phone : 82-10-1234-1234.</div>

    </div>
</footer>
</body>
</html>